# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.csv
*.json
*.xls
*.xlsx
.idea/*
**/mycred.txt
creds.json
client_secrets.json
__pycache__/
*.log
*.ipynb_checkpoints
*.xlsx#
user_cli_variables.py
!runsforediting.json
!0040.v4.perovskitedata.csv
!WF1_Template.xlsx
!WF1_DevTemplate.xlsx
!WF1_Alloy_Template.xlsx
!WF3_template.xlsx
!WF3_DevTemplate.xlsx
!MIT_PVLab_Template.xlsx
